<ion-view view-title="Authentication">
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                Overview
            </div>
            <div class="item item-text-wrap">
                <p>
                    AppWorks JS allows you to easily authenticate against your backend systems.
                </p>
            </div>
        </div>

        <div class="list">

            <div class="item item-button-right">
                Re-Authenticate
                <button class="button button-clear button-royal" ng-click="auth.authenticate()">
                    <i class="icon ion-ios-loop"></i>
                </button>
            </div>

            <div class="item item-text-wrap" ng-show="response">
                {{response}}
            </div>

        </div>
    </ion-content>
</ion-view>
