<ion-view view-title="On Device Technology">
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                Overview
            </div>
            <div class="item item-text-wrap">
                <p>
                    AppWorks JS allows you to access device technology such as the camera, compass, accelerometer, and
                    more. Check the <a href="https://github.com/opentext/appworks-js">docs</a> for more examples.
                </p>
            </div>
        </div>

        <div class="list">

            <div class="item item-button-right">
                Open Device Camera
                <button class="button button-clear button-royal" ng-click="device.openCamera()">
                    <i class="icon ion-ios-camera-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Open Photo Gallery
                <button class="button button-clear button-royal" ng-click="device.openGallery()">
                    <i class="icon ion-ios-albums-outline"></i>
                </button>
            </div>
            <a class="item item-thumbnail-left" href="#" ng-show="device.imgSrc">
                <img data-ng-src="{{device.imgSrc}}">
                <p>This is the image you selected.</p>
            </a>

            <div class="item item-button-right">
                Get current location
                <button class="button button-clear button-royal" ng-click="device.getLocation()">
                    <i class="icon ion-ios-location-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Show Acceleration and Compass
                <button class="button button-clear button-royal" ng-click="device.showCompass()">
                    <i class="icon ion-ios-navigate-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Record Audio
                <button ng-class="{
                    'button button-clear': true,
                     'button-royal': !recordingInProgress,
                      'button-assertive': recordingInProgress
                     }"
                        ng-click="device.recordAudio()">
                    <i class="icon ion-ios-mic-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Playback Audio
                <button class="button button-clear button-royal" ng-click="device.playAudio()">
                    <i class="icon ion-ios-volume-high" ng-show="!playingHasStarted"></i>
                    <i class="icon ion-ios-pause-outline" ng-show="playingHasStarted && playing"></i>
                    <i class="icon ion-ios-play-outline" ng-show="playingHasStarted && !playing"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Record Video
                <button class="button button-clear button-royal" ng-click="device.recordVideo()">
                    <i class="icon ion-ios-videocam-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Scan QR Code
                <button class="button button-clear button-royal" ng-click="device.scanQRCode()">
                    <i class="icon ion-ios-book-outline"></i>
                </button>
            </div>
            <div class="item item-text-wrap" ng-show="device.qrScanResult">
                {{device.qrScanResult}}
            </div>

            <div class="item item-button-right">
                Choose a Contact
                <button class="button button-clear button-royal" ng-click="device.openContactPicker()">
                    <i class="icon ion-ios-person-outline"></i>
                </button>
            </div>
            <a class="item item-thumbnail-left" ng-href="{{'tel:' + device.contactPickerResult.number}}"
               ng-show="device.contactPickerResult">
                <img data-ng-src="{{device.contactPickerResult.photo}}">
                <h2>{{device.contactPickerResult.name}}</h2>
                <p>{{device.contactPickerResult.number}}</p>
            </a>

            <div class="item item-button-right">
                Vibrate the Device
                <button class="button button-clear button-royal" ng-click="device.vibrate()">
                    <i class="icon ion-ios-color-wand-outline"></i>
                </button>
            </div>

            <div class="item item-button-right">
                Show Device Information
                <button class="button button-clear button-royal" ng-click="device.getDeviceInfo()">
                    <i class="icon ion-ios-monitor-outline"></i>
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
