<ion-view view-title="Authentication">
    <ion-content class="padding">

        <div class="card">
            <div class="item item-divider">
                Overview
            </div>
            <div class="item item-text-wrap">
                <p>
                    AppWorksJS gives you the power to make use of native notifications,
                    authenticate against your backend systems, and more.
                </p>
            </div>
        </div>

        <div class="list">
            <div class="item item-button-right">
                Re-Authenticate
                <button class="button button-clear button-royal" ng-click="sync.authenticate()">
                    <i class="icon ion-ios-loop"></i>
                </button>
            </div>
            <div class="item item-text-wrap">
                <p>Sends a login request to the gateway and returns the response.</p>
            </div>
            <div class="item item-text-wrap" ng-show="response">
                {{response}}
            </div>
        </div>

        <div class="list">
            <ion-toggle ng-model="sync.notificationsEnabled" toggle-class="toggle-royal">
                Enable Notifications
            </ion-toggle>
            <div class="item item-text-wrap">
                <p>
                    Opt-in or out of receiving notifications for this app. When this is enabled, new notifications
                    will be automatically pushed to your app.
                </p>
            </div>
        </div>

        <div class="list">
            <div class="item item-button-right">
                Get Notifications
                <button class="button button-clear button-royal" ng-click="sync.getNotifications()">
                    <i class="icon ion-ios-bell-outline"></i>
                </button>
            </div>
            <div class="item item-text-wrap">
                <p>
                    Manually retrieve notifications for this app.
                </p>
            </div>
            <div class="item" ng-show="notifications" ng-repeat="notification in notifications">
                <pre>{{notification}}</pre>
            </div>
        </div>

    </ion-content>
</ion-view>
